.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    border: 1px solid #eb1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    cursor: pointer;
    background-color: greenyellow;
    
  }
  /* Update the styling for the div containing the player wins paragraphs */
.player-wins-container {
    display: flex; /* or use "inline" if you prefer */
    justify-content: space-between;
    margin-bottom: 10px; /* Add some margin for spacing */
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh; /* Set the height of the container to the full viewport height */
  }

  /* Style for X */
.cell-x {
  color: blue; /* Change the color to your desired color for X */
}

/* Style for O */
.cell-o {
  color: red; /* Change the color to your desired color for O */
}